<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Daniël Beeke</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta name="theme-color" content="#4c90a0" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>

  <body>

    <%- partial('partials/_hamburger.ejs') %>
    <%- partial('partials/_site-header.ejs') %>
    <%- partial('partials/_menu.ejs') %>

    <main class="layout-wrapper">
      <%- partial('partials/_over-mij.ejs') %>
      <%- partial('partials/_fullstack.ejs') %>
      <%- partial('partials/_graph.ejs') %>
      <%- partial('partials/_contact.ejs') %>    </main>

    <script type="module" src="javascript/app.js"></script>

  </body>
</html>
