<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Daniël Beeke</title>
     <link rel="stylesheet" type="text/css" href="css/styles.css">
     <script type="module" src="javascript/app.js"></script>
  </head>

  <body>

    <%- partial('partials/_hamburger.ejs') %>

    <%- partial('partials/_site-header.ejs') %>

    <%- partial('partials/_menu.ejs') %>

    <%- partial('partials/_graph.ejs') %>

    <%- partial('partials/_introduction.ejs') %>

    <script type="application/json" id="graph-json"><%- partial('partials/_graph-data.ejs') %></script>

  </body>

</html>
